NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://catita:catita_local_password@localhost:5433/muak?schema=public
FRONTEND_URL=http://localhost:4200
RECENT_SPINS_DEFAULT_LIMIT=10
RECENT_SPINS_MAX_LIMIT=50
